.studio-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  box-shadow: 1px 1px #c4c4c4;
  margin: 5px 10px;
  padding: 0 5px;
  background: linear-gradient(
    0.25turn,
    rgba(113, 86, 152, 0.8),
    rgba(113, 70, 153, 0.85),
    rgba(113, 86, 152, 0.8)
  );
  transition: all 200ms ease;
}

.studio-box:hover {
  transform: scale(1.02);
}

.studio-box a {
  color: black;
}
.studio-box a:hover {
  color: black;
  text-decoration: none;
}
.short-studio-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}

.short-studio-info p {
  text-align: left;
}

img {
  width: 300px;
  height: auto;
}

@media screen and (max-width: 600px) {
  .all-studios-div {
    display: flex;
    flex-direction: column;
  }

  .studio-box {
    flex-direction: column;
    justify-content: center;
    padding: 10px 5px;
  }
}
