.studio-detail-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 95vw;
  height: 100%;
  margin: 20px auto;
}

.written-studio-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  padding: 10px;
  width: 40vw;
}

.written-studio-info-container p {
  text-align: left;
}

.weekly-studio-schedule-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.weekly-title {
  text-align: left;
}

.class-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  border: 1px solid black;
  margin: 10px auto;
  width: fit-content;
}


.class-box p {
  padding: 0 10px;
  width: 25%;
}

.book-button{
  margin: 0 10px;
  width: 15%;
  padding: 5px;
}

.delete-button {
  margin: 0 10px;
  width: fit-content;
  padding: 5px;
}

.class-box a {
  margin: 0 10px;
  width: 15%;
}
.edit-button {
  width: fit-content;
  padding: 5px;
}

.add-button{
  padding: 5px;
  margin: 10px auto;
}

@media screen and (max-width: 600px) {
  .studio-detail-container {
    flex-direction: column;
    justify-content: center;
  }

  .written-studio-info-container{
    width: 90vw;
  }

  .class-box{
    width: 95vw;
  }

  .class-box p {
    width: 20%;
  }

  .delete-button{
    width: fit-content;
    height: auto;
  }
}
