.login-div {
  margin: 20px 10px;
  padding: 10px 0;
  border: 1px solid black;
}

.login-div label {
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.login-div a {
  padding: 0 15px;
}

.login-div input,
.login-div button {
  margin: 10px 10px;
}
