.header-container {
  background: linear-gradient(
    0.25turn,
    rgba(255, 255, 255, 0.3),
    rgba(200, 200, 200, 0.1),
    rgba(255, 255, 255, 0.3)
  );
}

.fithub-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  max-width: 100vw;
}
.fithub-header a {
  text-decoration: none;
  color: black;
}

.fithub-header h1 {
  width: fit-content;
  color: #634491;
  text-shadow: 1px 1px #cfcfcf;
  font-family: "Comfortaa", cursive;
  font-size: 56px;
}

.fithub-header span {
  color: #8c2a82;
}

#sign-in {
  color: #634491;
  border-color: #634491;
}

#sign-in:hover {
  color: #fff;
  background-color: #634491;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 15px 0;
  width: fit-content;
  margin: 0;
}

nav a {
  margin: 0 20px;
}

nav button {
  margin: 0 5px;
}

nav p {
  margin: 0 5px;
}

@media screen and (max-width: 600px) {
  .fithub-header {
    padding: 0px 10px;
  }
  nav {
    flex-direction: column;
  }

  nav a {
    padding: 5px 0;
  }
}
