.studio-create-edit-div {
  border: 1px solid black;
  margin: 20px auto;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
  width: 65vw;
  height: fit-content;
}

.studio-create-edit-div form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.studio-create-edit-div input, .studio-create-edit-div textarea {
  margin: 10px 0;
}

@media screen and (max-width: 600px){
  .studio-create-edit-div {
    width: 95vw;
  }
}